body {
 margin: 0 px;
  background: white;
  padding: 100px;
}
.timer {
  text-align: center;
  color: black ;
  font-size: 50px;
  font-family:monospace ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
